S3method(BooleanSubsets,COMPASSContainer)
S3method(BooleanSubsets,default)
S3method(CellCounts,COMPASSContainer)
S3method(CellCounts,default)
S3method(FunctionalityScore,COMPASSResult)
S3method(FunctionalityScore,default)
S3method(PolyfunctionalityScore,COMPASSResult)
S3method(melt_,data.frame)
S3method(melt_,matrix)
S3method(plot,COMPASSResult)
S3method(print,COMPASSContainer)
S3method(subset,COMPASSContainer)
S3method(summary,COMPASSContainer)
export(BooleanSubsets)
export(COMPASS)
export(COMPASSContainer)
export(CellCounts)
export(FunctionalityScore)
export(GatingSetToCOMPASS)
export(PolyfunctionalityScore)
export(Posterior)
export(pheatmap)
export(shinyCOMPASS)
export(transpose_list)
import(data.table)
import(grid)
importFrom(RColorBrewer,brewer.pal)
useDynLib(COMPASS)
